@charset "UTF-8";


@keyframes bound-anim{
    0%{transform: translateY(0);}
    100%{transform: translateY(24px);}
  }
  
  /*** 全文字にアニメーションを適用 ***/
  .bound span{
    display: inline-block; /*横並びにしつつアニメーションを適用*/
    animation: 1s bound-anim ease-in infinite alternate;
  }
  
  /*** 各文字のスタート時間をずらす ***/
  /* 1文字目 */
  .bound span:nth-child(1){
    animation-delay: 0;
  }
  /* 2文字目 */
  .bound span:nth-child(2){
    animation-delay: 0.2s;
  }
  /* 3文字目 */
  .bound span:nth-child(3){
    animation-delay: 0.4s;
  }
  /* 4文字目 */
  .bound span:nth-child(4){
    animation-delay: 0.6s;
  }
  .bound span:nth-child(5){
    animation-delay: 0.8s;
  }
  .bound span:nth-child(6){
    animation-delay: 1s;
  }
  .bound span:nth-child(7){
    animation-delay: 1.2s;
  }
  .bound span:nth-child(8){
    animation-delay: 1.4s;
  }
  .bound span:nth-child(9){
    animation-delay: 1.6s;
  }
  .bound span:nth-child(10){
    animation-delay: 1.8s;
  }
  .bound span:nth-child(11){
    animation-delay: 2s;
  }
  .bound span:nth-child(12){
    animation-delay: 2.2s;
  }
