@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  vertical-align: bottom;
  width: 100%;
}
body {
  color: white;
}
@media screen and (min-width: 767px) {
  main {
    font-size: 20px;
  }
}
/* main */
#floor {
  background-image: url(../img/floor.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section {
  height: 20%;
  width: 80%;
  margin: 10% auto;
  background: rgb(22, 30, 143);
  padding: 10%;
}
.TOP {
  width: 90px;
  margin: 0 0 2% auto;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 100;
}
.BACK {
  width: 90px;
  margin: 0 0 2% auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.TOP a,
.BACK a {
  color: white;
}
